body{
    background-image: linear-gradient(to right,#1f2937, #374151);
}

.topnav {
    background-color: transparent;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .topnav a{
    float: right;
    color: #f2f2f2;
    margin: 10px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Sans-serif", "Helvetica";
  }
  .topnav a:hover{
    background-color: #4c9e9e;
    border-radius: 5px;
  }
  .topnav a.resume{
    background-color: red;
    border-radius: 5px;
  }
  .topnav a.resume:hover{
    border: 2px solid red;
    background-color: transparent;
  }