/*--------*/
/* Navbar */
/*--------*/

.sticky {
        background-color: rgba(25, 34, 54, 0.66);
        box-shadow: 0 10px 10px 0 rgba(24, 27, 38, 0.17);
        backdrop-filter: blur(15px);
}

.navbar {
        position: fixed;
        padding: 0.3rem 2rem;
        font-size: 1.2rem;
        transition: all 0.3s ease-out 0s;
}

.navbar-toggler {
        position: relative;
        background-color: transparent;
        border-color: transparent;
}

.navbar-toggler span {
        display: block;
        background-color: #45a2ff;
        height: 4px;
        width: 27px;
        margin-top: 5px;
        margin-bottom: 5px;
        transform: rotate(0deg);
        left: 0;
        opacity: 1;
}

.navbar-toggler:focus,
.navbar-toggler:active {
        outline: 0;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
        transition: transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
        position: absolute;
        left: 12px;
        top: 10px;
        transform: rotate(135deg);
        opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
        height: 12px;
        visibility: hidden;
        background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
        position: absolute;
        left: 12px;
        top: 10px;
        transform: rotate(-135deg);
        opacity: 0.9;
}

@media (max-width: 700px) {
        .navbar {
                padding: 1rem 2rem;
                font-size: 1.4rem;
                background-color: #181a27;
                margin-top: 0;
        }
        .navbar-nav .nav-item a::after {
                display: none;
        }
        .nav-link {
                padding: 0.7rem 1rem;
        }
        .navbar-nav .nav-item a:hover {
                background-color: transparent;
        }
}

.navbar-brand {
        color: rgb(250, 250, 250);
}

.logo {
        height: 2.5em;
        width: 2.5em;
}

.navbar-nav .nav-link {
        color: white;
        padding-right: 1rem;
        padding-left: 1rem;
}

.nav-link {
        padding: 0.8rem 1rem;
}

.navbar-nav .nav-item {
        position: relative;
        margin-left: 20px;
}
    
.navbar-nav .nav-item a {
        color: #f2f2f2;
        text-decoration: none;
        margin: 10px;
        padding: 14px 16px;
        font-size: 17px;
        font-family: "Sans-serif", "Helvetica";
        font-weight: 400;
        transition: all 0.3s ease-out 0s;
        position: relative;
        z-index: 1;
}

.navbar-nav .nav-item a:hover{
        background-color: #4c9e9e !important;
        border-radius: 5px !important;
        position: relative !important;
}

/*-----------*/
/* Homepage */
/*---------*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap');

.home-header {
        padding-top: 80px;
        position: relative;
}

.home-content {
        padding: 9rem 0 2rem;
        color: whitesmoke;
        text-align: left;
}

.heading {
        font-size: 2.4em;
        padding-left: 50px;
}

.heading-name {
        font-size: 2.5em;
        padding-left: 50px;
        position: relative;
        font-family: 'Noto Sans', sans-serif;
}

.heading-typewriter {
        font-size: 2em;
        padding-left: 50px;
        position: relative;
}

@media (max-width: 1200px) {
        .heading-name {
                font-size: 2em;
        }
}

.blue, 
.name {
        color: #58abff;
}

.red{
        color: #ff5f5f;

}

.Typewriter__wrapper {
        font-size: 2.2em;
        color: #4a80ff;
        font-weight: 600;
}

.Typewriter__cursor {
        font-size: 2.4em;
        color: #3f78f9;
}

@media (max-width: 700px) {
        .Typewriter__wrapper {
                font-size: 1.4em;
                font-weight: 500;
                position: absolute;
        }
        .Typewriter__cursor {
                display: none;
        }
        .heading-name {
                font-size: 1.6em;
        }
}

.avatar {
        justify-content: center;
        padding-top: 5em;
        margin-left: -15%;
        padding-bottom: -50%;
}

.home-about-section{
        position: relative;
        margin-left: -50%;
}

.home-about-content {
        color: white;
        padding-top: 100px;
        text-align: center;
}

.about-heading {
        font-size: 3em;
        margin-left: -40%;
        margin-right: -50%;
        font-family: "Bebas Neue", sans-serif;
}

.about-paragraph{
        padding-top: 50px;
        font-size: 1.2em;
        text-align: left;
        margin-left: -40%;
        margin-right: -50%;
}

@media (max-width: 700px) {
        .avatar {
                order: 2;
                margin-left: 0;
                margin-top: -2em;
        }
        .about-heading, .about-paragraph {
                margin-left: 0;
                margin-right: 0;
        }
        .about-paragraph {
                order: 1;
        }
}

.social-title {
        font-size: 3em;
        color: white;
        padding-bottom: 20px;
}

.social-icons {
        display: flex;
        color: white;
        z-index: 1;
        position: absolute;
}

.circle-animation {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 0px;
        height: 0px;
        margin-right: -20px;
        margin-left: -20px;
        border-radius: 50%;
        z-index: 0;
        animation-name: social-background-animation-close;
        animation-duration: 0.2s;
        animation-timing-function: ease-in-out;
}

@keyframes social-background-animation-open {
        from {
                width: 0px;
                height: 0px;
        }
        to {
                width: 70px;
                height: 70px;
        }
}

@keyframes social-background-animation-close {
        from {
                width: 70px;
                height: 70px;
        }
        to {
                width: 0px;
                height: 0px;
        }
}

@keyframes social-icons-animation {
        from {
                color: white;
        }
        to {
                color: #2b3544;
        }
}

@media (hover: hover) {
        .social-icons:hover + .circle-animation{
                width: 70px;
                height: 70px;
                animation-name: social-background-animation-open;
                animation-duration: 0.2s;
                animation-timing-function: ease-in-out;
        }
        
        .social-icons:hover {
                color: #2b3544;
                animation-name: social-icons-animation;
                animation-duration: 0.2s;
                animation-timing-function: ease-in-out;
        }
}

/*---------*/
/* Resume */
/*-------*/

.resume-section {
        position: relative !important;
        padding-top: 110px !important;
        padding-bottom: 30px !important;
        background-image: var(--section-background-color) !important;
        color: white !important;
        text-align: center;
    }